<div class="home">
    <div class="home-content">
      <h2>Restablecer Contraseña</h2>
      <form (ngSubmit)="updatePassword()">
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p><br>
        <div class="password-field-div">
            <h3>Ingresa tu nueva contraseña</h3>
            <input  [(ngModel)]="newPassword" [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" required/><br>
            <button class="no-style-button" type="button" (click)="toggleNewPasswordVisibility()"><span [innerHTML]="showNewPassword ? '🙈' : '👁️'"></span></button>
        </div>
        <div class="password-field-div">
            <h3>Confirma tu nueva contraseña</h3>
            <input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword" required/><br>
            <button class="no-style-button" type="button" (click)="toggleConfirmPasswordVisibility()"><span [innerHTML]="showConfirmPassword ? '🙈' : '👁️'"></span></button>
        </div>
        <button type="submit">Cambiar Contraseña</button><br>
      </form>
    </div>
  </div>