<div class="home">
    <img src="LinguaTapLogo.png" alt="LinguaTap Logo" class="Logo"/>
    <div class="home-content">
      <h2>Olvidaste tu contraseña</h2>
      <p>
        Ingresa tu correo electrónico y te enviaremos un enlace para que recuperes el acceso a tu cuenta.
      </p>
      <form (ngSubmit)="sendEmail()">
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p><br>
        <input *ngIf="showEmailInput" class="password-input" type="text" id="mail" [(ngModel)]="email" name="mail" placeholder="Correo Electrónico"  required />
        <br>
        <p *ngIf="!showEmailInput" style="color: green;">
          Verifica tu correo electrónico
        </p>
        
        <button type="submit">Enviar Enlace</button><br>
        <label>¿Aún no tienes una cuenta?<a href="/register"> Regístrate</a></label><br>
      </form>
    </div>
  </div>