
  .ChangePassword {
    padding: 20px; /* Espaciado interno */
    width: 80vw; /* Ancho fijo */
    margin: 20px; /* Centrado */
    font-family: 'Arial', sans-serif; /* Fuente limpia */
}

.ChangePassword h3 {
    color: #374151; /* Texto oscuro */
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Espaciado */
    border-bottom: 1px solid #d1d9e6; /* Línea decorativa */
    padding-bottom: 5px; /* Espaciado interno */
}

.ChangePassword input {
    display: block; /* Coloca los campos en una nueva línea */
    margin-bottom: 15px; /* Espaciado debajo de cada campo */
    height: 30px;
}

.ChangePassword button {
    margin-top: 10px; /* Espaciado superior */
    cursor: pointer; /* Indica que es interactivo */
}
.password-field-div {
  position: relative; 
}
.password-field-div input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}
.password-field-div button {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}
p {
    font-size: 16px;
    color: #ff0000;
}

@media (max-width: 768px) {

  p {
      margin: 0;
      padding: 0;
  }
  
  
    .userData {
      height: 100%;
  }


  .password-field-div {
    position: relative; 
    width: 100%;
  }
  
  }
  
  
  