<div class="main-menu">
    <div class="sidebar">
        <a href="mainMenu">Juegos</a>
        <a href="">Lectura</a>
        <a href="">Estadísticas</a>
        <a class="Profile" href="/userProfile">Perfil</a>
    </div>
    <div class="ChangePassword">
        <h2>Cambiar Contraseña</h2>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
        <form>
            <div class="password-field-div">
                <h3>Ingresa tu contraseña actual</h3>
                <input [type]="showOldPassword ? 'text' : 'password'" [(ngModel)]="currentPassword" name="currentPassword" required/><br>
                <button class="no-style-button" type="button" (click)="toggleOldPasswordVisibility()"><span [innerHTML]="showOldPassword ? '🙈' : '👁️'"></span></button>
            </div>
            <div class="password-field-div">
                <h3>Ingresa tu nueva contraseña</h3>
                <input  [(ngModel)]="newPassword" [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" required/><br>
                <button class="no-style-button" type="button" (click)="toggleNewPasswordVisibility()"><span [innerHTML]="showNewPassword ? '🙈' : '👁️'"></span></button>
            </div>
            <div class="password-field-div">
                <h3>Confirma tu nueva contraseña</h3>
                <input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword" required/><br>
                <button class="no-style-button" type="button" (click)="toggleConfirmPasswordVisibility()"><span [innerHTML]="showConfirmPassword ? '🙈' : '👁️'"></span></button>
            </div>
            <button (click)="onChangePassword()">Cambiar Contraseña</button>
        </form>
    </div>
</div>
