.sidebar {
    height: 97.3%;
    width: 250px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-right: 2px solid #CBFA01;
  }
  
  .sidebar a {
    font-family: 'Alegreya Sans', medium;
    font-weight:bold;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    display: block;
    text-align: center;
  }
  
  .sidebar a:hover {
    background-color: var(--button-color);
  }
  .Profile {
    margin-top: auto; /* Empuja el enlace hacia el final */
    background-color: var(--button-color);
  }
  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }
  .userData {
    background-color: #f7f9fc; /* Fondo claro */
    border: 2px solid #d1d9e6; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    width: 78%; /* Ancho fijo */
    margin: 20px auto; /* Centrado */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    font-family: 'Arial', sans-serif; /* Fuente limpia */
}

.userData h3 {
    color: #374151; /* Texto oscuro */
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Espaciado */
    border-bottom: 1px solid #d1d9e6; /* Línea decorativa */
    padding-bottom: 5px; /* Espaciado interno */
}

.userData input {
    display: block; /* Coloca los campos en una nueva línea */  
    height: 30px;
}

.userData button {
    margin-top: 10px; /* Espaciado superior */
    cursor: pointer; /* Indica que es interactivo */
}
