.sidebar {
    height: 97.3%;
    width: 250px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-right: 2px solid #CBFA01;
  }
  
  .sidebar a {
    font-family: 'Alegreya Sans', medium;
    font-weight:bold;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    display: block;
    text-align: center;
  }
  
  .sidebar a:hover {
    background-color: var(--button-color);
  }
  .Profile {
    margin-top: auto; /* Empuja el enlace hacia el final */
  }
  .main{
    background-color: var(--button-color);
  }
  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }
  .games {
    display: grid;
    overflow-y: auto;
    width:81%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 16px;
}

.game-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    background-color: var(--cards-color);
    border-radius: 32px; 
    padding: 40px 0 40px 0;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
}
.game-card:hover {
    background-color: #ffe08c;
}

.game-card h3 {
    font-family: 'Alegreya Sans', medium;
    font-size: 30px;
    margin: 0;
}
.game-preview {
    border-radius: 16px;
    width: 90%;
}
