<div class="main-menu">
    <div class="sidebar">
        <a class="main" href="mainMenu">Juegos</a>
        <a href="">Lectura</a>
        <a href="">Estadísticas</a>
        <a class="Profile" href="/userProfile">Perfil</a>
    </div>
    <div class="games">
        <div class="game-card">
            <h3>Una Palabra</h3>
            <img src="1game.png" class="game-preview" />
            <button (click)="navigateTo('game1')">JUGAR</button>
        </div>
        <div class="game-card">
            <h3>Proximamente...</h3>
            <img src="game-ex.png" class="game-preview" />
            <button (click)="navigateTo('')">JUGAR</button>
        </div>
        <div class="game-card">
            <h3>Proximamente...</h3>
            <img src="game-ex.png" class="game-preview" />
            <button (click)="navigateTo('')">JUGAR</button>
        </div>
        <div class="game-card">
            <h3>Proximamente...</h3>
            <img src="game-ex.png" class="game-preview" />
            <button (click)="navigateTo('')">JUGAR</button>
        </div>
        <div class="game-card">
            <h3>Proximamente...</h3>
            <img src="game-ex.png" class="game-preview" />
            <button (click)="navigateTo('')">JUGAR</button>
        </div>
        
    </div>
</div>
